* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #d9d4ff;
}

.bottom-nav-btn {
  color: #ffffff;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

/* hover */
.bottom-nav-btn:hover {
  background-color: rgba(178, 166, 255, 0.2);
  color: #ffffff;
}

/* selecionado (foco/ativo) */
.bottom-nav-btn.Mui-selected {
  background-color: rgba(71, 3, 209, 0.3);
  color: #ffffff;
}